body {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

.int{
    font-family: 'Goldman', cursive;
}

.jack{
    background-image: url("favicon.ico");
}
